.errorField{

    color: red;
}

.percent-input::after {
    content: '%';
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
  }